
.cart-instancce-modal {
    margin-top: 1rem;
}
.cart-delete-instance-modal {
    float: right;
    color: blue;
    cursor: pointer;
}
.cart-album-name-modal {
    margin-top: 1rem;
}
.checkout-modal-container {
    margin: 2rem;
}
.payment-methods {
    width: 20rem;
    border-radius: .4rem;
}
.checkout-modal-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
#checkout-modal-submit {
    margin-top: 3rem;
}
.cart-preview-sum-modal {
    float: right;
}
.cart-preview-total-modal,
.cart-preview-sum-modal {
    font-weight: bold;
}
