

.user-details-tabs {
    margin-left: 3rem;
    margin-bottom: 3rem;
    border-bottom: .1rem solid grey;
    color: rgb(88, 88, 88);
}
.user-details-tab {
    font-weight: bold;
    margin-left: 3rem;
    color: royalblue;
}
.user-details-tab:hover {
    border-bottom: .3rem royalblue solid;
    cursor: pointer;
}

/* .create-band-button:hover {
    box-shadow: 0rem 0rem .5rem black;
} */
