.new-and-notable{
    /* box-shadow: 0rem 0rem .5rem rgb(118, 118, 118); */
    height: 24rem;
    width: 13rem;
    /* background-color: rgb(80, 92, 103); */
    border-radius: .2rem;
    overflow: hidden;
    background-color: rgb(215, 222, 229);
}
.new-notable-image {
    height: 13rem;
    width: 13rem;
    object-fit: cover;
    border-radius: .2rem;
}
.new-notable-text {
    line-height: normal;
    padding: 0rem;
    margin-block-end: 0rem;
    margin-inline-end: 0rem;
    width: 13rem;
    font-size: .8rem;
    overflow: wrap;
    color: black;
    padding: .3rem;
    overflow-wrap: break-word;
}
.new-notable-genre {
    color: purple;
}
.album-details-social-media {
    font-size: .8rem;
    text-decoration: none;
}
.album-details-social-media:hover {
    text-decoration: underline;
}
.details-discog-image {
    height: 5rem;
    width: 5rem;

}
.detail-discog-card {
    margin-bottom: 2rem;
}
.detail-discog-link {
    text-decoration: none;
}
.details-more-releases {
    text-decoration: none;
}
.details-supporters {
    margin-top: 2rem;
}
.details-supporter {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin: .3rem;
}
