.new-notable-title {
    color:  skyblue;
    margin-left: 3rem;
}
.new-and-notable-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.landing-container {
    /* background-color: rgb(49, 49, 49); */
    justify-content: center;
    margin-top: 5rem;
}
/* .new-notable-title {
    margin-bottom: 0.8rem;
    margin-left: 1rem;
} */
.fans-have-paid {
    text-align: center;
    margin-bottom: 5rem;
}
.upcoming-live-streams-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}
.album-details-page {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
}
.album-details-container {
    width: 64rem;
    /* background-color: aqua; */
}
