.album-details-page {
    display: flex;
    flex-direction: column;
}
.album-details-container {
    align-self: center;
    margin: min(2vmin, 1rem);
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    gap: min(2vmin, 1rem);
    background-color: rgb(216, 220, 223);
    padding: 3vmin;
    border-radius: .5vmin;
}
.album-details-artwork{
    width: 40vmin;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: .5vmin;
    margin-bottom: 1vmin;
}

.album-details-title {
    margin-bottom: 0rem;
}
.details-grey-text {
    color: green;
}

/* .details-info {
    margin-bottom: 0rem;
} */

.buy-digital-album {
    color: blue;
    cursor: pointer;
}
.buy-digital-album:hover {
    text-decoration: underline;
}
.details-grey-text {
    /* margin-top: 0rem; */
    font-size: min(2vmin, .8rem);
}
/* .details-ownership-info {
    font-size: .8rem;
} */
.album-details-banner {
    align-self: center;
    width: min(90vmin, 55rem);
    height: auto;
    object-fit: cover;
    margin: 7vmin 0;
    border-radius: 1vmin;
}
.details-band-name {
    margin-top: 0rem;
}
.album-details-description {
    line-height: min(3vmin, 1.5rem);
    /* font-size: .9rem; */
    overflow-wrap: anywhere;
}
.album-details-band-img {
    width: 15vmin;
}
.tracks-column {
    width: 40vmin;
}
.album-deets-country {
    font-weight: bold;
    margin-bottom: 0rem;
}
.album-deets-city {
    margin-top: 0rem;
    color:rgb(69, 69, 69);
}
.share-wishlist {
    display: flex;
    flex-direction: row;
}
.logged-out-wishlist {
    cursor: pointer;
}
.user-auth-buttons {
    display: flex;
    flex-direction: column;
}
.purchased-list {
    font-size: min(2.2vmin, 1rem);
    color: red;
}
.user-auth-song {
    width: min(3vmin,1.5rem);
    justify-content: end;
}
.cart-preview {
    border-radius: .5vmin;
    margin-bottom: min(2vmin, 1rem);
    padding: .5vmin;
    font-size: min(2vmin, .8rem);
    background: linear-gradient(#ffffff, #b1b1b1);
    outline: solid 2px white;
    color: black;
}
.cart-delete-instance {
    float: right;
    color: blue;
    cursor: pointer;
}
.cart-preview-sum {
    float: right;
}
.cart-title {
    margin-bottom: min(1vmin, .5rem);
    font-weight: bold;
}
.cart-preview-buttons {
    display:  flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    /* .album-details-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(0, auto);
    } */

    .album-details-container > div:first-child {
      grid-column: 1;
    }

    .album-details-container > div:nth-child(2),
    .album-details-container > div:nth-child(3) {
      grid-column: 2;
    }
  }
