.album-details-page {
    display: flex;
    flex-direction: column;
}
.album-details-container {
    align-self: center;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: slategray;
    /* margin: 2rem; */
    padding: 2rem;
    border-radius: 1rem;
}
.album-details-artwork{
    width: 25rem;
    height: 25rem;
}

.album-details-title {
    margin-bottom: 0rem;
}
.details-grey-text {
    color: blue;
}
.details-info {
    margin-bottom: 0rem;
}
.details-grey-text {
    margin-top: 0rem;
    font-size: .8rem;
}
.details-ownership-info {
    font-size: .8rem;
}
.album-details-banner {
    align-self: center;
    width: 55rem;
    max-height: 20rem;
    object-fit: cover;
    margin: 0rem;
    border-radius: 1rem;
}
.details-band-name {
    margin-top: 0rem;
}
.album-details-description {
    line-height: 1.5rem;
    font-size: .9rem;
}
.album-details-band-img {
    width: 7rem;
}
.tracks-column {
    width: 25rem;
}
.album-deets-country {
    font-weight: bold;
    margin-bottom: 0rem;
}
.album-deets-city {
    margin-top: 0rem;
    color:rgb(69, 69, 69);
}
.share-wishlist {
    display: flex;
    flex-direction: row;
}
