.footer-dov {
    margin: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-title {
    text-align: center;
    margin: 10rem;
    margin-top: 15rem;
}
