/* TODO Add site wide styles */
* {
    font-family: 'Montserrat', sans-serif;
    /* overflow-wrap: anywhere; */
}
.modal-rep{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.wished-for-list {
    color: red;
    cursor: pointer;
    font-size: 1.3rem;
}
body {
    margin: 0px;
}
p, span, td {
    font-size: min(2.5vmin, 1rem);
}
button {
    cursor: pointer;
    transition: .2s ease-in-out;
}
button:hover {
    scale: 1.08;
}
h2 {
    font-size: min(4vmin, 1.6rem);
}
