@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat {
    font-family: 'Montserrat', sans-serif;
}
.modal-rep{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.wished-for-list {
    color: red;
    cursor: pointer;
    font-size: 1.3rem;
}
body {
    margin: 0px;
}
p, span, td {
    font-size: min(2.5vmin, 1rem);
}
button {
    cursor: pointer;
    transition: .2s ease-in-out;
    background: linear-gradient(rgb(97, 149, 170),rgb(50, 78, 90));
    border-radius: .5vmin;
    border: none;
    margin: 1vmin;
    padding: .5vmin;
    font-weight: bold;
}
.fa-heart,
.fa-trash-can,
.fa-pen-to-square,
.fa-cart-shopping,
.fa-bolt-lightning {
    transition: .2s ease-in-out;
}
.fa-heart:hover,
.fa-trash-can:hover,
.fa-pen-to-square:hover,
.fa-cart-shopping:hover,
.fa-bolt-lightning:hover {
    scale: 1.4;
}
button:hover {
    scale: 1.08;
}
h2 {
    font-size: min(4vmin, 1.6rem);
}
