/* TODO Add site wide styles */
*{
    font-family: 'Montserrat', sans-serif;
    overflow-wrap: anywhere;
}
.modal-rep{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.wished-for-list {
    color: red;
    cursor: pointer;
    font-size: 1.3rem;
}
body {
    margin: 0px;
}
p, span {
    font-size: min(2.5vmin, 1rem);
}
button {
    cursor: pointer;
}
