


.why-bandcamp {
    display: flex;
    flex-direction: row;
    margin: 5vmin 0;
}
.bandcamp-screenshot {
    width: min(50vmin, 50vw);
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 0rem 0rem .5rem black;
    margin: 0 1.5rem 0 0;
}
.about-text {
    line-height: 1.4rem;
}

