/* .profile-button {
    height: 2rem;
    width: 2rem;
} */
.profile-button-picture {
    object-fit: cover;
    height: min(7vmin, 2.8rem);
    width: min(7vmin, 2.8rem);
    border: .1rem solid white;
    background-color: none;
    border-radius: 5rem;
}
.profile-dropdown {
    z-index: 101;
}
.sign-or-login {
    display: flex;
    flex-direction: row;
    width: 8rem;
    justify-content: space-between;
}
