.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .1rem rgb(124, 124, 124) solid;
    left: 0px;
    /* box-shadow: 0rem 0rem .5rem white; */
    height: 2.8rem;
}
.logo-text {
    margin-left: min(3vmin, 2rem);
    font-size: min(4vmin, 1.5rem);
    font-weight: bold;
    text-decoration: none;
}
.navi-corner {
    display: flex;
    flex-direction: row;
    margin-right: min(3vmin, 2rem);
    gap: min(3vmin, 2rem);
    align-items: center;
}
.profile-dropdown {
    position: absolute;
    right: 5rem;
    top: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    box-shadow: 0rem 0rem 1rem black;
    padding: 2rem;
    line-height: 1rem;
}
.navi-icons {
    font-size: min(3vmin, 1.5rem);
    color: black;
}
.navi-items {
    transition: .2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-in-cart {
    position: absolute;
    background-color: rgb(180, 33, 33, .9);
    color: white;
    font-weight: bolder;
    width: fit-content;
    padding: .2rem;
    border-radius: 3rem;
    z-index: 100;
    right: min(-.5vmin, -.3rem);
    top: min(-.5vmin, -.6rem)
}
.cart-div {
    position: relative;
}
.fa-cart-shopping {
    cursor: pointer;
}
