.sing-up-form-modal {
    margin: 2rem;
}
.sign-up-label {
    font-size: 1.4rem;
    color: rgb(0, 200, 200);
    margin: .5rem;
}
.sign-up-form-input {
    font-size: 4rem;
    width: 25rem;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.sign-up-container {
    display: grid;
    grid-template-columns: auto auto;
}
.signup-title {
    text-align: center;
    color: rgb(0, 200, 200);

}
.sign-up-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign-up-submit {
    background-color: rgb(0, 200, 200);
    border: none;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
    transition: .2s ease-in-out;
    width: 10rem;
    padding: .2rem;
    margin-top: 1rem;
    text-align: center;
}
/* .sign-up-submit:hover {
    box-shadow: 0rem 0rem .5rem black;
} */
