.user-deets-album {
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    border-radius: .2rem;
}
.user-details-album-name {
    font-weight: bold;
}
.user-deets-blue-text {
    color: blue;
}
.user-details-album-text {
    display: flex;
    flex-direction: column;
}
.user-details-album-card {
    color: black;
    height:  22rem;
}
.user-details-album-appears{
    margin-top: 2rem;
}
