.song-delete-modal {
    margin: 2rem;
}
.song-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}
.song-delete-title {
    width: 20rem;
}
