.band-deets-page {
    display: flex;
    justify-content: center;
}
.band-deets-iterated-albums {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem;
    margin-left: 4rem;
}
.band-deets-albumart{
    height: 16rem;
    width: 16rem;
    object-fit: cover;
    border-radius: .2rem;
}
.band-details-container {
    display: flex;
    flex-direction: row;
    width: 75rem;
    justify-content: space-between;
    background-color: burlywood;
}
.band-details-col{
    margin: 2rem;
    margin-left: 0rem;
    width: 10rem;
}
.band-deets-desc{
    font-size: .8rem;
}
.band-deets-album-name {
    margin-top: 0rem;
    font-weight: bold;
}
.band-details-col > button {
    background-color: rgb(97, 149, 170);
    padding: .3rem;
    font-weight: bold;
    width: 8rem;
    border-radius: .3rem;
    border: none;
    color: white;
    margin: .5rem;
}
